<h1>Настройки</h1>
<div class="fields form">
    <form action="?plugin=ordersfilter&module=settings&action=save" method="post"  id="plugins-settings-form">
        <div class="field" style="padding: 10px;"><div class="name">Статус</div>
            <div class="value" style=""><label>
                <select name="settings[status]">
                    <option {if $settings.status == 1} selected="selected"{/if} value="1">Включен</option>
                    <option {if $settings.status == 0} selected="selected"{/if} value="0">Выключен</option>
                </select></label>
            </div>
        </div>
        <div class="field" style="padding: 10px;">
            <div class="name">
                Кнопка "Подобрать"
                <br />
                <span class="hint">Поставив галочку Вы отключаете динемический режим фильтрации</span>
            </div>
            <div class="value" style="">
                <label><input type="checkbox" {if $settings.is_button == 1}checked="checked"{/if} name="settings[is_button]" value="1"/></label>
            </div>
        </div>
        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                    <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                </span>
            </div>
        </div>
    </form>
</div>