<div class="block filter-wrap" xmlns="http://www.w3.org/1999/html">
    <h5 class="heading"><i class="icon16 darr"></i>Фильтр</h5>

    <form>
        <ul class="filter-list">
            <li class="filter-items">
                <div class="filter-head"><i class="icon16 rarr"></i><span class="name">Статус заказа</span></div>
                <ul class="filter-params">
                    {foreach $states as $key => $state}
                        <li><label><input name="state_id[{$key}]" type="checkbox"/>
                                <span style="{foreach $state.options.style as $k => $v}{$k}: {$v};{/foreach}">{$state.name}</span></label>
                        </li>
                    {/foreach}
                </ul>
            </li>
            <li class="filter-items">
                <div class="filter-head"><i class="icon16 rarr"></i><span class="name">Способ доставки</span></div>
                <ul class="filter-params">
                    {foreach $shippings as $s}
                        <li><label><input name="params.shipping_id[{$s.id}]" type="checkbox"/>{$s.name}</label></li>
                        {foreachelse}
                        <li>Добавьте способы доставки в настройках магазина</li>
                    {/foreach}
                </ul>
            </li>
            <li class="filter-items">
                <div class="filter-head"><i class="icon16 rarr"></i><span class="name">Способ оплаты</span></div>
                <ul class="filter-params">
                    {foreach $payments as $p}
                        <li><label><input name="params.payment_id[{$p.id}]" type="checkbox"/>{$p.name}</label></li>
                        {foreachelse}
                        <li>Добавьте способы оплаты в настройках магазина</li>
                    {/foreach}
                </ul>
            </li>
            <li class="filter-items">
                <div class="filter-head"><i class="icon16 darr active"></i><span class="name">Дата изменения</span></div>
                <div class="filter-params not-padd">
                    <label><i class="icon16 calendar"></i><input type="text" name="update_datetime_from" id="from" class="calendar"/></label> -
                    <label><i class="icon16 calendar"></i><input type="text" name="update_datetime_to" id="to" class="calendar "/></label>
                </div>
            </li>
            <li class="submit-wrap cleafix" {if !$is_button}style="display: none;" {/if}>
                <div style="display: none;">
                    <a href="" class="filters_href"></a>
                    <input type="hidden" name="is_button" value="{$is_button}" />
                </div>
                <div class="coll2" >
                    <a href="#/orders/" class="submit-filter button green">Подобрать</a>
                </div>
                <div class="coll2">
                    <a href="#/orders/all&view=table/" class="refresh-filter">Сбросить</a>
                </div>
            </li>
        </ul>
    </form>
</div>

<link type="text/css" rel="stylesheet" href="{$wa_url}wa-apps/shop/plugins/ordersfilter/css/BackendOrders.css"/>
<script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/ordersfilter/js/BackendOrders.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
